@media screen and (max-device-width:1024px) {
    .paws img{
        width: 290vw;
    }
    .block-2 p{
        padding: 8vw 1vw 1vw 1vw;
    }
    .egg{
        height: 15vw;
    }
}
@media screen and (max-device-width:768px) {
    .header h1{
        font-size: 21vw;
    }
    .paws img{
        width: 350vw;
    }
    .museum__item{
        font-size: 10vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
        white-space: nowrap;
        overflow-x: hidden;
    }
    .block-2 p{
        font-size: 4vw;
        padding: 4vw 1vw 1vw 1vw;
    }
    .egg{
        height: 14vw;
    }
    .footer p{
        padding:7vw 0vw 6vw 0vw ;
        font-size: 5vw;
    }
}
@media (max-width: 414px) {
    .header h1{
        font-size: 21vw;
    }
    .paws img{
        width: 370vw;
    }
    .museum__item{
        font-size: 10vw;
        padding-top: 7vw;
        padding-bottom: 7vw;
        white-space: nowrap;
        overflow-x: hidden;
    }
    .block-2 p{
        font-size: 4vw;
        padding: 4vw 1vw 1vw 1vw;
    }
    .egg{
        height: 14vw;
    }
    .footer p{
        padding:7.5vw 0vw 6vw 0vw ;
        font-size: 4vw;
    }
}
