@font-face {
    src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype"); 
    font-family: "Inter";
}
@font-face {
    src: url("../fonts/BosaNova/Bosa_Nova_Bold.ttf") format("truetype"); 
    font-family: "BosaNovaBold";
} 